div {
    color: #fff;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
}

.upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgb(255, 255, 255);
    height: 300px;
    width: 380px;
    cursor: pointer;
    border-radius: 10px;
}

.upload-row {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #a9bae4;
    color: black;
}

.upload-content{
    display: flex;
    align-items: center;
}