@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto&display=swap');

/* Estilização padrão - Resetar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
}

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-size: 30px;
    color: azure;

    line-height: 1.2;
    text-align: center;
}

.login-form-title img {
    width: 90px;
    padding-top: 10px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 25px;
    padding-top: -5px;
}

.input {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;

    width: 100%;
    height: 45px;

    background-color: transparent;

    padding: 0px 5px;
    padding-top: 20px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    pointer-events: none;
    color: #adadad;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: -webkit-linear-gradient(to left, #02ccfa, #011aff);
    background: -o-linear-gradient(to left, #02ccfa, #011aff);
    background: -moz-linear-gradient(to left, #02ccfa, #011aff);
    background: linear-gradient(to left, #02ccfa, #011aff);
}

.focus-input::after {
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);

    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;

    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.input:focus {
    outline: 0;
}

.input:focus + .focus-input::after {
    top: 0px;
}

.input:focus + .focus-input::before {
    width: 100%;
}

.has-val + .focus-input::after {
    top: 0px;
}

.has-val + .focus-input::before {
    width: 100%;
}

.invalid-feedback {
    position: absolute;
    top: 50px;
    z-index: 100;

    font-size: 12px;
    color: white;
}

.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 13px;
}

.login-form-btn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    background: -webkit-linear-gradient(to left, #007e9b, #011aff);
    background: -o-linear-gradient(to left, #007e9b, #011aff);
    background: -moz-linear-gradient(to left, #007e9b, #011aff);
    background: linear-gradient(to left, #007e9b, #011aff);
}

.login-form-btn:hover {
    cursor: pointer;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.txt1 {
    font-size: 14px;
    color: #adadad;
    line-height: 1.5;
    padding-right: 5px;
    text-decoration: none;
}

.txt2 {
    font-size: 14px;
    color: #5ab7cc;
    line-height: 1.5;
    text-decoration: none;
}

/* ----------------------------- TELA DE HOME ----------------------------- */

.home-form {
    width: 100%;
}

.home-form-title {
    display: block;
    font-size: 30px;
    color: azure;

    line-height: 1.2;
    text-align: center;
}

.home-form-title img {
    width: 90px;
    padding-top: 10px;
}